body, html{
    height: 100%;
    margin: auto;
    text-align: center;
    background-color: #FAEFD1;
}
 

.hero {
    width: 100%;
    min-width: 100%;
    margin-top: 2.5em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/img/couple.jpg");
    position: relative;
}

h1{
    font-size: 36px;
}

h3 {
    padding: 0 2em;
    line-height: 30px;
    margin: 0;
    font-size: 20px;
}

p {
    padding: 0 2em;
    line-height: 25px;
}

.icon {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
  }
  
  .icon::after {
    content: "";
    background: url(../../public/img/thunder.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-color: #FAEFD1;
  }

@media screen and (min-width: 768px) {
    .hero-text {
       
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
      }
    .icon{
        display: none;
    }
}