body, html{
    height: 100%;
    margin: auto;
    text-align: center;
    background-color: #FAEFD1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero {
    width: 100%;
    min-width: 100%;
    margin-top: 2.5em;
    background-image: url("../../public/img/couple.jpg");
    display: none;
}

h1{
    font-size: 36px;
    margin-top: 4em;
    color: rgb(99, 72, 57);
}

h3 {
    line-height: 35px;
    margin: 1em;
    font-size: 25px;
    letter-spacing: 3px;
    /* color: rgb(218, 168, 32); */
    color: rgb(99, 72, 57);
}


.icon {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
  }
  
  .icon::after {
    content: "";
    background: url(../../public/img/thunder.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-color: #FAEFD1;
  }

@media screen and (min-width: 768px) {
    .hero-text {     
        /* background-color: rgba(127,39,12, 0.7); Black w/opacity/see-through */
        font-weight: bold;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        text-align: center;
      }
    .icon{
        display: none;
    }
    .hero{
        display: block;
    }
    h1{
        margin-top: 0;
    }
}