.view-order{
    color: white;
    letter-spacing: 3px;
    font-family: 'Ubuntu', sans-serif;
}

.order-header{
    margin-top: 15vh;
}

.cancel-order{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 3em;
}

.paypal{
    margin-top: 5em;
    margin-bottom: 2em;
    font-weight: bold;
}

.appendix{
    margin: 7vh;
    color: grey;
}
.order-details{
    font-size: 15px;
    margin: 1em;
    color: white;
}
.details{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
}
.bold {
    font-size: 22px;
    font-weight: bold;
}