.parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-container{
    margin: 5em 0;
    height: 100%;
    width: 60%;
    background-image: url('../../public/img/zebra.jpg');
       border-radius: 10px;
}

.form-header{
    color: white;
    padding-top: 1em;
}

.form {
    text-align: center;
    background-color: white;
    width: 55%;
    margin-left: 8em;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 5px 10px 18px;
}

.order-form{
    margin-left: 10px;
}

.submit-button{
    padding: 8px 12px;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 4px;
    background: #8c7569;
    cursor: pointer;
}

.input-label{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.input-block {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

input {
    outline: 0;
    border: 0;
    padding: 4px 0 0;
    font-size: 14px;
}
.input-label {
    color: rgba(#8c7569, 0.8);
}
select {
    color: #fff;
    background: #8c7569;
    cursor: pointer;
    padding: 8px 12px;
  }
  