.main {
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .center{
    font-family: 'Ubuntu', sans-serif;
    max-width: 700px;
    color:white;
    line-height: 40px;
    padding:0 10px;
    text-align: justify;
    font-size: 18px;
  }

  .us{
    height: auto;
    width: 40%;
  }

  .story-header{
    margin: 2.5em;
  }
