/* ABOUT PAGE */
.main {
    padding: 2em;
    min-height: 100vh;
    text-align: center;
    background-color: #F4976C;
  }
  
  .overlay span{
      position: relative;
      opacity: 0;
      top: 1em;
      animation: animateOverlay 1s ease-in-
  out forwards;
  }
  .overlay span:nth-child(4n) { animation-delay: 
  0s; }
  
  .overlay span:nth-child(4n+1) { animation-delay: 1s; }
  .overlay span:nth-child(4n+3) { animation-delay: 2s; }
  .overlay span:nth-child(4n+2) { animation-delay: 3s; }
  @keyframes animateOverlay {
    to {
  opacity: 1;
  top: 0;
  } }